/**
 * Every step element has one of three classes: `future`, `present` and `past`.
 * Only one current step has the `present` class.
 * When a step is shown (selected) its element gets the class of "active" and 
 * the body element gets the class `impress-on-ID` where ID is the step's id.
 */

 body{
 	color: white;
 }

#title h1{
	text-align: center;
	font-size: 120px;
	font-weight: bold;
}

.footnote{
	font-size: 100px;
}

.notes {
    display:none;
}

.step{
	width: 1000px;
}

.step h2 {
    font-size: 78px;
    font-weight: bold;
}

.step q ul{
	list-style: circle;
}